In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [8]:
wisconsin = pd.read_csv('C:/Users/dbda.STUDENTSDC/Desktop/M.L/Cases/Wisconsin/BreastCancer.csv', index_col = 0)
wisconsin.head()

,Clump,UniCell_Size,Uni_CellShape,MargAdh,SEpith,BareN,BChromatin,NoemN,Mitoses,Class
Code,,,,,,,,,,
61634,5,4,3,1,2,2,2,3,1,Benign
63375,9,1,2,6,4,10,7,7,2,Malignant
76389,10,4,7,2,2,8,6,1,1,Malignant
95719,6,10,10,10,8,10,7,10,7,Malignant
128059,1,1,1,1,2,5,5,1,1,Benign

In [9]:
from sklearn.model_selection import train_test_split


x,y = wisconsin.drop('Class',axis=1),wisconsin['Class']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=25,stratify=y)

In [11]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier


dtc = DecisionTreeClassifier(random_state=25)
dtc.fit(x_train,y_train)
accuracy_score(y_test, dtc.predict(x_test))

0.9285714285714286