In [1]:
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC, SVR
import seaborn as sns
import os
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.impute import SimpleImputer
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from tqdm import tqdm
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay, classification_report, roc_curve, \
RocCurveDisplay, roc_auc_score, r2_score, mean_absolute_error
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import log_loss
from sklearn.naive_bayes import BernoulliNB, GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

In [2]:
hr = pd.read_csv('C:/Users/dbda.STUDENTSDC/Desktop/M.L/Datasets/HR_comma_sep.csv')
hr.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.10,0.77,6,247,4,0,1,0,sales,low
3,0.92,0.85,5,259,5,0,1,0,sales,low
4,0.89,1.00,5,224,5,0,1,0,sales,low

In [4]:
x,y = hr.drop('left',axis=1),hr['left']
ohe = OneHotEncoder(drop='first',sparse_output=False).set_output(transform='pandas')

from sklearn.compose import ColumnTransformer, make_column_selector

col_trnf = ColumnTransformer([
                                ('OHE', ohe, make_column_selector(dtype_include=object))],
                              remainder='passthrough', verbose_feature_names_out=False)

col_trnf = col_trnf.set_output(transform='pandas')
x = col_trnf.fit_transform(x)

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=25,stratify=y)

In [7]:
from sklearn.ensemble import VotingClassifier


dtc1 = DecisionTreeClassifier(random_state=25, max_depth=3)
dtc2 = DecisionTreeClassifier(random_state=25, max_depth=2)
lr = LogisticRegression(max_iter=1000)
voting = VotingClassifier(estimators=[('Tree1', dtc1),('Tree2', dtc2),('LR', lr)])
voting.fit(x_train, y_train)
y_pred = voting.predict(x_test)
accuracy_score(y_test, y_pred)

0.9030895754612136

In [15]:
dtc1 = DecisionTreeClassifier(random_state=25, max_depth=10)
dtc2 = DecisionTreeClassifier(random_state=25, max_depth=10)
lr = LogisticRegression(max_iter=1000)
voting = VotingClassifier(estimators=[('Tree1', dtc1),('Tree2', dtc2),('LR', lr)])
voting.fit(x_train, y_train)
y_pred = voting.predict(x_test)
accuracy_score(y_test, y_pred)

0.9822182707268282