##### Scaling

In [56]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.impute import SimpleImputer
import numpy as np
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from tqdm import tqdm
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay, classification_report, roc_curve, RocCurveDisplay, roc_auc_score, r2_score, mean_absolute_error
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import log_loss

import os

In [57]:
a = np.array([[10,200,0.3],
              [9,230,0.1],
              [8,240,0.24],
              [9.5,225,0.45]])
pa = pd.DataFrame(a, columns=['x1','x2','x3'])
print(pa.x1.mean())
print(pa.x2.mean())
print(pa.x3.mean())

9.125
223.75
0.2725

In [58]:
print(pa.x1.std())
print(pa.x2.std())
print(pa.x3.std())

0.8539125638299665
17.017148213885115
0.14500000000000002

In [59]:
ss = StandardScaler().set_output(transform='pandas')
scaled_pa = ss.fit(pa)
# scaled_pa = pd.DataFrame(scaled_pa, columns=['x1','x2','x3'])
print(scaled_pa.mean_)
print(scaled_pa.scale_)

[  9.125  223.75     0.2725]
[ 0.73950997 14.73728265  0.12557368]

In [60]:

scaled_pa = ss.transform(pa)
scaled_pa

         x1        x2        x3
0  1.183216 -1.611559  0.218995
1 -0.169031  0.424094 -1.373695
2 -1.521278  1.102646 -0.258812
3  0.507093  0.084819  1.413513

In [61]:
print(scaled_pa.x1.std())
print(scaled_pa.x2.std())
print(scaled_pa.x3.std())

1.1547005383792515
1.1547005383792515
1.1547005383792517

##### Min Max Scaling

In [62]:
a = np.array([[10,200,0.3],
              [9,230,0.1],
              [8,240,0.24],
              [9.5,225,0.45]])
pa = pd.DataFrame(a, columns=['x1','x2','x3'])
print(pa.min())
print(pa.max())

x1      8.0
x2    200.0
x3      0.1
dtype: float64
x1     10.00
x2    240.00
x3      0.45
dtype: float64

In [63]:
minmax = MinMaxScaler().set_output(transform='pandas')
scaled_pa = minmax.fit(pa)
scaled_pa.data_min_

array([8.e+00, 2.e+02, 1.e-01])

In [64]:
scaled_pa = minmax.transform(pa)
scaled_pa

     x1     x2        x3
0  1.00  0.000  0.571429
1  0.50  0.750  0.000000
2  0.00  1.000  0.400000
3  0.75  0.625  1.000000

In [65]:
a = np.array([[10,200,0.3],
              [9,None,None],
              [None,240,0.24],
              [9.5,225,0.45]])
pa = pd.DataFrame(a, columns=['x1','x2','x3'])
print("Mean :",pa.mean())

Mean : x1           9.5
x2    221.666667
x3          0.33
dtype: object

In [66]:
imputer = SimpleImputer().set_output(transform='pandas')
imputer.fit(pa) # compute mean and median
print(imputer.statistics_)

[  9.5        221.66666667   0.33      ]

In [67]:
pa.mean()

x1           9.5
x2    221.666667
x3          0.33
dtype: object

In [68]:
imputer.transform(pa)

     x1          x2    x3
0  10.0  200.000000  0.30
1   9.0  221.666667  0.33
2   9.5  240.000000  0.24
3   9.5  225.000000  0.45

In [73]:
os.chdir('C:/Users/dbda.STUDENTSDC/Desktop/M.L/Datasets/')
boston = pd.read_csv('Boston.csv')

x = boston.drop('medv', axis = 1)
y = boston['medv']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=25)


scaler = StandardScaler().set_output(transform='pandas')
x_trn_set = scaler.fit_transform(x_train)
knn = KNeighborsRegressor(n_neighbors=1)
knn.fit(x_trn_set,y_train)
x_tst_set = scaler.transform(x_test)
y_pred =knn.predict(x_tst_set)
mean_absolute_error(y_test,y_pred)

2.65

In [74]:
knn = KNeighborsRegressor(n_neighbors=1)
knn.fit(x_train,y_train)
x_tst_set = scaler.transform(x_test)
y_pred =knn.predict(x_test)
mean_absolute_error(y_test,y_pred)

4.3

In [ ]:
ks = np.arange(1,16)
scores = []
for k in ks:
    knn = KNeighborsRegressor(n_neighbors=k)
    knn.fit(x_trn_set, y_train)
    y_pred = knn.predict(x_tst_set)
    scores.append([k,mean_absolute_error(y_test, y_pred)])
    # print("When neighbors = ", i)
    # print('R2 Score: ', r2_score(y_test, y_pred))
    # print('MAE: ', mean_absolute_error(y_test, y_pred))
    # y_pred_prob = knn.predict_proba(x_test)
    # print('ROC AUC: ', roc_auc_score(y_test, y_pred_prob[:,1]))
    # print('/n')
df_score = pd.DataFrame(scores,columns=['k','score'])
df_score.sort_values('score', ascending=True)

     k     score
0    1  2.650000
2    3  2.689912
3    4  2.719737
1    2  2.807566
5    6  2.864583
4    5  2.868947
14  15  2.928509
7    8  2.928783
10  11  2.941268
11  12  2.942654
12  13  2.953391
6    7  2.958459
9   10  2.961382
8    9  2.963450
13  14  2.965367

##### Expected Salaries

In [84]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer, make_column_selector

In [86]:
housing = pd.read_csv('Housing.csv')
x, y = housing.drop('price', axis = 1), housing['price']

In [98]:
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE', ohe, make_column_selector(dtype_include=object))],
                             remainder='passthrough',
                             verbose_feature_names_out=False)
col_trnf = col_trnf.set_output(transform='pandas')
x = col_trnf.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=25)

In [ ]:
print('------------ Without Scaling ----------')

for i in range(1, 16):
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test)
    print("When neighbors = ", i)
    print('R2 Score: ', r2_score(y_test, y_pred))
    print('MAE: ', mean_absolute_error(y_test, y_pred))
    # y_pred_prob = knn.predict_proba(x_test)
    # print('ROC AUC: ', roc_auc_score(y_test, y_pred_prob[:,1]))
    print('/n')

------------ Without Scaling ----------
When neighbors =  1
R2 Score:  -0.39387348010915435
MAE:  22645.731707317074


When neighbors =  2
R2 Score:  0.14138857142465588
MAE:  18987.34756097561


When neighbors =  3
R2 Score:  0.3252167136373756
MAE:  16956.60569105691


When neighbors =  4
R2 Score:  0.31930064793658275
MAE:  17185.521341463416


When neighbors =  5
R2 Score:  0.32983086797144234
MAE:  16974.496341463415


When neighbors =  6
R2 Score:  0.33213809840228126
MAE:  17033.884146341465


When neighbors =  7
R2 Score:  0.298083898441053
MAE:  17518.982578397212


When neighbors =  8
R2 Score:  0.2917763225777875
MAE:  17592.823170731706


When neighbors =  9
R2 Score:  0.27489806474057876
MAE:  17575.090785907858


When neighbors =  10
R2 Score:  0.295014206723337
MAE:  17540.56951219512


When neighbors =  11
R2 Score:  0.2950877906664906
MAE:  17398.662416851443


When neighbors =  12
R2 Score:  0.30314777406251825
MAE:  17344.27693089431


When neighbors =  13
R2 Score:  0.2931491632071339
MAE:  17427.58067542214


When neighbors =  14
R2 Score:  0.3177815941200661
MAE:  17095.358013937283


When neighbors =  15
R2 Score:  0.30463540840120695
MAE:  17270.135772357724

In [ ]:
print('------------ With Scaling ----------')

ss = StandardScaler().set_output(transform='pandas')
x_trn_scl = ss.fit_transform(x_train)
x_tst_scl = ss.transform(x_test)

r2 = []
mae = []
ks = np.arange(1,16)

for i in ks:
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_trn_scl, y_train)
    y_pred = knn.predict(x_tst_scl)
    # print("When neighbors = ", i)
    # print('R2 Score: ', r2_score(y_test, y_pred))
    # print('MAE: ', mean_absolute_error(y_test, y_pred))
    # y_pred_prob = knn.predict_proba(x_test)
    # print('ROC AUC: ', roc_auc_score(y_test, y_pred_prob[:,1]))
    r2.append(r2_score(y_test, y_pred))
    mae.append(mean_absolute_error(y_test, y_pred))

# Assuming ks, r2, and mae are lists of equal length:

# 1. Create a dictionary where keys are column names and values are the lists
data = {
    'k': ks,
    'r2': r2,
    'mae': mae
}

# 2. Pass the single dictionary (data) to the DataFrame constructor
df_scores = pd.DataFrame(data)

# 3. Sort the results (as in your original intention)
df_scores.sort_values('r2', ascending=False)

------------ With Scaling ----------

     k        r2           mae
3    4  0.576697  12407.129573
4    5  0.572285  12642.542683
9   10  0.566364  12731.168293
5    6  0.560651  13054.121951
10  11  0.558014  12787.108647
14  15  0.556571  12776.493902
8    9  0.554606  12867.924119
7    8  0.553857  12935.713415
13  14  0.553308  12793.261324
11  12  0.550633  12855.385671
12  13  0.547100  12814.899156
6    7  0.543244  13233.759582
2    3  0.490856  13699.075203
1    2  0.373122  15156.716463
0    1  0.186813  17036.024390

##### Concrete Strength

In [106]:
concrete = pd.read_csv('C:/Users/dbda.STUDENTSDC/Desktop/M.L/Cases/Concrete_Strength/Concrete_Data.csv')
concrete.head()

   Cement  Blast  Fly  Water  Superplasticizer  Coarse   Fine  Age  Strength
0   540.0    0.0  0.0  162.0               2.5  1040.0  676.0   28     79.99
1   540.0    0.0  0.0  162.0               2.5  1055.0  676.0   28     61.89
2   332.5  142.5  0.0  228.0               0.0   932.0  594.0  270     40.27
3   332.5  142.5  0.0  228.0               0.0   932.0  594.0  365     41.05
4   198.6  132.4  0.0  192.0               0.0   978.4  825.5  360     44.30

In [108]:
## Without Scaling

x, y = concrete.drop('Strength', axis = 1), concrete['Strength']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=25)

In [110]:
r2 = []
mae = []
ks = np.arange(1,16)

for i in ks:
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test)
    r2.append(r2_score(y_test, y_pred))
    mae.append(mean_absolute_error(y_test, y_pred))

data = {
    'k': ks,
    'r2': r2,
    'mae': mae
}

df_scores = pd.DataFrame(data)

df_scores.sort_values('mae')

     k        r2       mae
1    2  0.704538  6.544013
3    4  0.724364  6.576254
0    1  0.663015  6.672589
4    5  0.716044  6.748608
2    3  0.703263  6.762762
5    6  0.691645  7.064218
7    8  0.666713  7.115376
6    7  0.676935  7.157513
8    9  0.652829  7.287192
9   10  0.645963  7.430460
10  11  0.630712  7.566737
11  12  0.620276  7.698937
12  13  0.609292  7.860505
13  14  0.593182  8.108731
14  15  0.584388  8.245141

In [ ]:
## With Scaling

x, y = concrete.drop('Strength', axis = 1), concrete['Strength']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=25)

In [111]:
ss = StandardScaler().set_output(transform='pandas')
x_trn_scl = ss.fit_transform(x_train)
x_tst_scl = ss.transform(x_test)

In [113]:
r2 = []
mae = []
ks = np.arange(1,16)

for i in ks:
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_trn_scl, y_train)
    y_pred = knn.predict(x_tst_scl)
    r2.append(r2_score(y_test, y_pred))
    mae.append(mean_absolute_error(y_test, y_pred))

data = {
    'k': ks,
    'r2': r2,
    'mae': mae
}

df_scores = pd.DataFrame(data)

df_scores.sort_values('mae', ascending=True)

     k        r2       mae
1    2  0.695505  6.457735
2    3  0.708024  6.559687
0    1  0.648779  6.561942
3    4  0.714260  6.637338
4    5  0.718626  6.652647
5    6  0.705550  6.747913
6    7  0.704146  6.800347
7    8  0.685489  6.981869
8    9  0.682474  7.083916
9   10  0.670777  7.195628
10  11  0.666447  7.320394
11  12  0.660911  7.397362
12  13  0.653472  7.495706
13  14  0.647578  7.551526
14  15  0.642959  7.642462

In [114]:
chemical = pd.read_csv('C:/Users/dbda.STUDENTSDC/Desktop/M.L/Cases/Chemical Process Data/ChemicalProcess.csv')
chemical.head()

,Yield,BiologicalMaterial01,BiologicalMaterial02,BiologicalMaterial03,BiologicalMaterial04,BiologicalMaterial05,BiologicalMaterial06,BiologicalMaterial07,BiologicalMaterial08,BiologicalMaterial09,...,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41,ManufacturingProcess42,ManufacturingProcess43,ManufacturingProcess44,ManufacturingProcess45
0,38.00,6.25,49.58,56.97,12.74,19.51,43.73,100.0,16.66,11.44,...,0.019,0.5,3,7.2,NaN,NaN,11.6,3.0,1.8,2.4
1,42.44,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.019,2.0,2,7.2,0.1,0.15,11.1,0.9,1.9,2.2
2,42.03,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,0.7,2,7.2,0.0,0.00,12.0,1.0,1.8,2.3
3,41.42,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,1.2,2,7.2,0.0,0.00,10.6,1.1,1.8,2.1
4,42.49,7.47,63.33,72.25,14.02,17.91,54.66,100.0,18.22,12.80,...,0.017,0.2,2,7.3,0.0,0.00,11.0,1.1,1.7,2.1

In [128]:
mean_handler = SimpleImputer(strategy='mean').set_output(transform='pandas')
median_handler = SimpleImputer(strategy='median').set_output(transform='pandas')

x, y = chemical.drop('Yield', axis = 1), chemical['Yield']

x = mean_handler.fit_transform(x)

In [138]:
# Using Mean for Handling Null Values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=25)

ss = StandardScaler().set_output(transform='pandas')
x_trn_scl = ss.fit_transform(x_train)
x_tst_scl = ss.transform(x_test)

In [142]:
r2 = []
mae = []
ks = np.arange(1,16)

for i in ks:
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_trn_scl, y_train)
    y_pred = knn.predict(x_tst_scl)
    r2.append(r2_score(y_test, y_pred))
    mae.append(mean_absolute_error(y_test, y_pred))

data = {
    'k': ks,
    'r2': r2,
    'mae': mae
}

df_scores = pd.DataFrame(data)

df_scores.sort_values('mae', ascending=True)

     k        r2       mae
2    3  0.404702  1.037673
1    2  0.417179  1.044623
3    4  0.394132  1.052689
6    7  0.393446  1.083235
5    6  0.383435  1.093208
4    5  0.367272  1.098566
7    8  0.387949  1.100873
8    9  0.391239  1.122138
9   10  0.372829  1.134528
10  11  0.359932  1.143139
11  12  0.376004  1.148774
12  13  0.356030  1.167271
14  15  0.363917  1.180918
13  14  0.349125  1.182224
0    1  0.069412  1.323019

In [ ]:
# Using Median for Handling Null Values

x, y = chemical.drop('Yield', axis = 1), chemical['Yield']

x = median_handler.fit_transform(x)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=25)

ss = StandardScaler().set_output(transform='pandas')
x_trn_scl = ss.fit_transform(x_train)
x_tst_scl = ss.transform(x_test)

In [146]:
r2 = []
mae = []
ks = np.arange(1,16)

for i in ks:
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_trn_scl, y_train)
    y_pred = knn.predict(x_tst_scl)
    r2.append(r2_score(y_test, y_pred))
    mae.append(mean_absolute_error(y_test, y_pred))

data = {
    'k': ks,
    'r2': r2,
    'mae': mae
}

df_scores = pd.DataFrame(data)

df_scores.sort_values('mae', ascending=True)

     k        r2       mae
2    3  0.404603  1.040063
1    2  0.417322  1.043396
3    4  0.391816  1.057830
6    7  0.390507  1.094879
5    6  0.380434  1.095566
7    8  0.385272  1.108656
4    5  0.354660  1.119509
8    9  0.369269  1.138616
9   10  0.369279  1.144849
10  11  0.358018  1.147530
11  12  0.375283  1.151305
12  13  0.355289  1.169492
14  15  0.367783  1.180440
13  14  0.351960  1.184811
0    1  0.069412  1.323019