In [30]:
import pandas as pd
from sklearn.linear_model import Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector

In [31]:
boston = pd.read_csv('../datasets/Boston.csv')
boston

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [32]:
x = boston.drop('medv', axis = 1)
y = boston['medv']

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3, random_state = 25)

In [34]:
alphas = [0.001, 0.01, 0.1, 1, 1.5, 2.5, 5,10]
scores = []

for a in alphas:
    lasso = Lasso(alpha=a)
    lasso.fit(x_train, y_train)
    y_pred = lasso.predict(x_test)
    scores.append([a,mean_absolute_error(y_test, y_pred)])

df_Scores = pd.DataFrame(scores, columns = ['alpha', 'score'])
df_Scores.sort_values('score')

    alpha     score
1   0.010  3.088221
0   0.001  3.114200
2   0.100  3.129219
3   1.000  3.373066
4   1.500  3.542921
5   2.500  3.632183
6   5.000  3.856294
7  10.000  3.942140

Housing

In [35]:
housing = pd.read_csv('../datasets/Housing.csv')
housing

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
542,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
543,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
544,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
545,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [36]:
x,y = housing.drop('price', axis=1) , housing['price']

In [37]:
x_train,x_test, y_train, y_test = train_test_split(x,y,random_state=25, test_size=0.3)

In [38]:
ohe = OneHotEncoder(drop = 'first', sparse_output = False).set_output(transform = 'pandas')
col_trnf = ColumnTransformer([('OHE', ohe, make_column_selector(dtype_include = object))],
                             remainder = 'passthrough',
                             verbose_feature_names_out=False)
col_trnf = col_trnf.set_output(transform = 'pandas')
x = col_trnf.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 25)

In [39]:
alphas = [0.001, 0.01, 0.1, 1, 1.5, 2.5, 5,10]
scores = []

for a in alphas:
    lasso = Lasso(alpha=a)
    lasso.fit(x_train, y_train)
    y_pred = lasso.predict(x_test)
    scores.append([a,mean_absolute_error(y_test, y_pred)])

df_Scores = pd.DataFrame(scores, columns = ['alpha', 'score'])
df_Scores.sort_values('score')

    alpha         score
7  10.000  11594.596229
6   5.000  11597.777786
5   2.500  11599.368564
4   1.500  11599.989301
3   1.000  11600.307457
2   0.100  11600.878772
1   0.010  11600.935421
0   0.001  11600.941078

Exp_Salaries

In [40]:
sals = pd.read_csv('../datasets/Exp_Salaries.csv')
sals

,Salary,Years_Previous_Experience,Years Employed,Years_Education,Gender,Department,Number_Supervised
0,32782,1,0,7,Male,A,0
1,32920,3,15,9,Female,A,4
2,29548,6,5,1,Male,A,0
3,39828,6,18,5,Female,A,5
4,31528,11,3,3,Male,A,6
5,38985,7,18,9,Male,A,5
6,41889,16,22,7,Male,A,7
7,38791,4,21,5,Male,A,9
8,28985,1,0,4,Female,A,4
9,24749,2,6,0,Female,A,1
10,35467,6,3,6,Female,B,3
11,35468,5,9,4,Female,B,5
12,29876,0,2,3,Female,B,5
13,43674,9,6,4,Male,B,2
14,36431,4,9,4,Female,B,2
15,26578,6,0,2,Female,B,2
16,36571,1,6,4,Male,B,2
17,56326,3,12,8,Male,B,6
18,23654,0,0,0,Female,C,2
19,36578,4,4,8,Male,C,8
20,37548,9,19,4,Male,C,6
21,53234,0,25,6,Male,C,3
22,54679,3,20,6,Female,C,4
23,47536,5,15,6,Male,C,4
24,31425,6,7,5,Female,C,6
25,65487,0,27,12,Female,D,44
26,46184,3,20,4,Male,D,1
27,54899,5,12,8,Female,D,0
28,34869,5,7,4,Female,D,1
29,35487,2,8,2,Female,D,2
30,26548,1,5,0,Male,D,2
31,34231,2,6,6,Male,D,3
32,39331,3,9,6,Female,D,1
33,36512,6,6,4,Female,D,2
34,68425,2,25,12,Male,D,1
35,36487,5,6,2,Male,D,3
36,34632,4,5,4,Male,D,0
37,46211,5,14,6,Female,D,5
38,51698,6,18,6,Male,D,1
39,69246,3,22,10,Male,D,45
40,48695,19,6,8,Male,D,40
41,34987,6,9,2,Female,D,3
42,35631,4,6,4,Male,D,2
43,39743,6,9,5,Female,D,1
44,41255,4,9,6,Male,D,4
45,26452,3,1,2,Female,D,0

In [41]:
x, y = sals.drop('Salary', axis = 1),sals['Salary']

In [42]:
ohe = OneHotEncoder(drop = 'first',sparse_output=False)
col_trnf = ColumnTransformer([('OHE', ohe, make_column_selector(dtype_include=object))],
                             remainder = 'passthrough',
                             verbose_feature_names_out=False)
col_tnf = col_trnf.set_output(transform = 'pandas')
x = col_trnf.fit_transform(x)

x_train, x_test, y_train, y_test = train_test_split(x,y, random_state = 25, test_size = 0.3)

scores = []
for a in alphas:
    lasso = Lasso(a)
    lasso.fit(x_train, y_train)
    y_pred = lasso.predict(x_test)

    scores.append([a, mean_absolute_error(y_test, y_pred)])

df_Scores = pd.DataFrame(scores,columns = ['alphas', 'mean_absolute_error'] )
df_Scores.sort_values('mean_absolute_error',ascending=False)

   alphas  mean_absolute_error
0   0.001          3035.201483
1   0.010          3035.196888
2   0.100          3035.152772
3   1.000          3034.694328
4   1.500          3034.476373
5   2.500          3033.993063
6   5.000          3032.825221
7  10.000          3030.647290